.top-navigation-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    @media only screen and (max-width: 475px) {
        /* border: solid red 2px; */
        font-size: 11px;
        justify-content: space-around;
        width: 65%;
        margin: auto;
        padding: 4px;
        
      
    }
    

    .app-logo {
        width: 143px;
        
        img {
        display: block;
        width: 100%;
        }
    
    }

    .navigation {
        display: flex;
        align-items: center;
        .navigation-item {
            color: antiquewhite;
            
            margin-left: 20px;
            padding: 5px;
            box-shadow: inset 0 0 0 0 antiquewhite;
            transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
            cursor: pointer;
            border-radius: 10%;

            &:hover {
                box-shadow: inset 200px 0 0 0 rgb(255, 255, 255);
                color:rgb(18, 8, 128);
            }
        }
    }

    .call-to-action {
        margin-left: 25px;
    }


}

.myName{
    font-size: 58px ;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-style: italic;
    @media only screen and (max-width: 475px) {
        padding-top: 4%;
        font-size: 15px;
        padding-left: 20px;
    }
    
}