.projects-showcase {
    border: solid red 2px;
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    height: 570px;
}
.showcase-item {
    border: solid green 2px;
    width: 265px;
    height: 265px;
    overflow: hidden;
    border-radius: 16px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    /* @include transition; */
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    .meta-content {
        border: solid orange 2px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 20px;
        padding: 10px;
        margin-right: 20px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* @include glassmorphism-effect; */
        /* @include transition; */
        
        .go-to-cta {
            display: flex;
            align-items: center;
            .text {
                color: blue;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                    /* @include typography(10px, 400, 18px); */
            }
            
        }
    }

    &.zoomIn {
        transform: scale(0);
        animation: zoomIn 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
            forwards;
    }
    &.zoomOut {
        transform: scale(1);
        animation: zoomOut 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
            forwards;
    }

    &:hover {
        z-index: 1;
        transform: scale(1.2);
        box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
        .meta-content {
            visibility: visible;
            opacity: 1;
            transform: translateY(-20px);
        }
    }
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}



.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.showcaseImg {
    border: solid 2px rgb(241, 249, 7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

h3 {
    border: solid 2px purple;
    color: black;
    font-weight: 400;
    margin-bottom: 10px;
}