
.blog-card {
    color: bisque;
    border: solid 3px white;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: calc(100% / 3);
    border-radius: 16px;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    .image-section {
        width: 100%;
        height: 250px;
        overflow: hidden;
        /* @include transition-ease; */
        transition: all 200ms ease-in-out;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }
    .content-section {

        .para2 {
            margin: 20px;
            /* background-color: aqua; */
            text-align: center;
            /* border: solid 2px green; */
            font-size: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        
           
        }

        .head4 {
    
   
            /* background-color: aquamarine; */
            margin: auto;
            /* border: solid 2px green; */
            text-align: center;
            padding: 0px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .read{
            text-align: center;
            background-color: black;
            border-radius: 5px;
            border: solid 1px green;
            &:hover {
                
                
                    background-color: green;
                    color: rgb(0, 0, 0);
                    border: solid grey 1px;
                    border-radius: 3px;
                
                }
            }
        
        

        transform: scale(1.2);
        &:hover {
        
            transform: scale(1.2);
          
        
    }    
        
        /* border: solid 2px green; */
        /* display: flex; */
        /* width: max-content; */



        /* flex-direction: column; */
        padding: 30px;
        
        padding-bottom: 55px;
        /* position: relative; */
        flex-grow: 1;
        background-color: rgb(44, 44, 44);
        transition: all 200ms ease-in-out;
        .info-bar {
            /* transform: scale(0.8); */
            /* border: red 3px solid; */
            /* background-color: bisque; */
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            .user-name,
            .posted-date {
                margin: 0%;
                padding: 5px;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            
            }
            &:hover {
                 
                    transform: scale(1.1);
            }
        }
        
        .readmore-cta {
            
            
            text-align: center;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 30px;
            left: 30px;
            cursor: pointer;
            .text {
                border: solid black 2px;
                
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    &:hover {
        .image-section {
            transform: scale(1.2);
            color: rgb(151, 39, 39);
        }
        .content-section {
            background-color: rgb(255, 255, 255);
            color: green;
            /* p {
                color: white;
            } */
        }
    }
}


