.skills-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid 2px green; */
    width: 100%;

    .left-col {
        
        width: 30%;
        display: flex;
        align-items: center;
        
        justify-content: flex-start;
        
      

    }

    #jsImage {
        width: 100%;
        max-width: 453px;
        display: block;
        /* border: solid 2px red; */
    
    }

    .right-col {
        /* border: solid 2px blue; */
        width: 60%;
        color: rgb(255, 255, 255);
        /* margin-left: 70px; */
        text-align: center;
        margin: auto;
        align-items: center;
        justify-content: center;

        
    }
}

h1{
    margin-bottom: 30px;
}
p{
    font: 400 28px;
    line-height: 24px;
    margin-bottom: 15px;
    /* border: solid 2px red; */
    
}

/* .resbutton{
    margin: auto;
    /* border: solid 2px red; */
    /* align-items: center; */
    /* text-align: center; */
    /* color: purple; */



a{
    color: black;
}

.container{
    /* border: solid 2px green; */
    text-align: center;
    align-items: center;
    justify-content: center;
}