.arrow-icon {
    width: 21px;
    height: 21px;
    background: rgb(255, 255, 255);
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    

}

/* svg  {
    transform: rotate(-45deg)
} */